body {
background-image: url("../images/npbackground.JPEG");
background-repeat: no-repeat;
background-size: cover;

}

h1 {
    font-family: 'Shadows Into Light', cursive;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
}

#jumbotron-p {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
}

.jumbotron {
    padding: 10px 30px 10px 10px;
    border: 2px solid gray;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    font-family: 'Shadows Into Light', cursive;
    
}
/* 
#start {
    
} */

.page-header {
    background-color: lightblue;
    border: 2px solid coral;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

.row.panel-row {
    text-align: center;
    background-color: lightblue;
    border: 2px solid coral;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

.start-image {
    align-content: center;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    color: white;
    width: 100%;
    height: 120px;
    margin-top: 10px;
    text-align: center;
}